@{
    ViewBag.Title = "Дитячий Всесвіт - магазин дитячих іграшок";
    @Styles.Render("~/Content/MainPageStyle.css")
}

<div id="page-block">
    <div id="content-panel">

    </div>
    <div id="filter-panel">

    </div>
</div>