body {
    background-image: url('Images/img-thing.jpg');
    background-repeat: repeat;
}

#site-div {
    width: 1000px;
    height: 2000px;
    margin: 0 auto;
}

#nav-menu {
    float: left;
    height: 35px;
    width: 1000px;
    position: fixed;
    border-radius: 7px;
    top: 0;
    z-index: 1000;
    background-color: rgba(254, 186, 0, 0.65); /*rgba(59, 52, 52, 0.65);*/
    padding: 2px 20px;
    margin-left: 0px;
}

#nav-menu ul {
    list-style: none;
}

#nav-menu li {
    display: inline;
    padding-left: 15px;
    font-family: 'Comic Sans MS', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

#nav-menu li.auth {
    display: inline;
    padding-left: 15px;
    font-family: 'Comic Sans MS', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    float: right;
}

#nav-menu li.auth a {
    text-decoration: none;
    font-weight: 900;
}

#nav-menu li.auth a:hover {
    text-decoration: none;
}

#nav-menu li.auth a:active {
    text-decoration: none;
    font-size: 23px;
    color: red;
}

a.nav-menu-link {
    color: #004afa;
    text-decoration: none;
}

a.nav-menu-link:hover {
    transition-duration: 0.8s;
    color: lawngreen;
    border-bottom: 1px dashed lawngreen;
}

a.nav-menu-link:active {
    transition-duration: 0.3s;
    font-size: 15px;
    color: red;
}

header {
    height: 150px;
    width: 1000px;
    border-radius: 7px;
    background-color: rgba(57, 255, 0, 0.64);
}

#image-logo {
    width: auto;
    height: 150px;
}

#top-main-menu {
    width: auto;
    height: auto;
}

::selection {
    background: #ffb7b7; /* Safari */
}

::-moz-selection {
    background: #ffb7b7; /* Firefox */
}

#block-search {
    float: right;
    margin-right: 5px;
    margin-top: 35px;
}

#block-search #search-label {
    font-family: Tahoma;
    font-size: 18px;
    margin-top: 3px;
    color: orangered;
}

#block-search #button-search {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    background-color: gold;
    color: green;
}

#block-search #button-search:hover, #button-search:active, #button-search, #search-text-field, #search-text-field:active {
    outline: none;
}

#block-search #search-text-field {
    font-family: Tahoma;
    border-radius: 3px;
}